body{
	margin: 0px;
	padding: 0px;
}
#clock{
	width: 450px;
	height: 450px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	border: 20px solid #692626;
	position: relative;
	display: flex;
	margin: 100px auto 0px auto;
	background-color:beige;
}
#center{
	position: absolute;
	background-color: black;
	width: 15px;
	height:15px;
	border-radius: 50%;
	z-index: 20;
	left: calc(50%-10px);
	right: calc(50%-10px);
}
#hourHand{
	width: 8px;
	height: 75px;
	transform-origin: bottom;
	border-radius: 5px;
	position: absolute;
	background-color: black;
	z-index: 10;
	top:137px;
	left:auto;
	transform: rotate(360deg);
	transition-timing-function: ease-in;

}
#minuteHand{
	width: 5px;
	height: 150px;
	transform-origin: bottom;
	border-radius: 3px;
	position: absolute;
	background-color:black;
	z-index:9;
	top:62px;
	left: auto;
	transition-timing-function: ease-in;
	transform: rotate(360deg);
}
#secondHand{
	width: 2px;
	height: 160px;
	transform-origin: bottom;
	
	border-radius: 3px;
	position: absolute;
	background-color:red;
	z-index: 8;
	top:53px;
	left:204px ;
	transition-timing-function: ease-in;
	transition: all 0.06s;
	transform: rotate(360deg);
}
#clock ul{
	list-style: none;
	padding: 0;
}
#clock ul li{
position: absolute;
width: 20px;
height: 20px;
text-align: center;
line-height: 20px;
font-size: 17px;
color: red;
}
#clock ul li:nth-child(1){
	right: 22%;
	top: 6.5%;

}
#clock ul li:nth-child(2){
right: 6%;
top: 25%;

}

#clock ul li:nth-child(3){
right: 1%;
top: calc(50%-10px);
color: black;
font-size: 25px;
font-weight: bold;
}
#clock ul li:nth-child(4){
	right: 6%;
	top: 70%;
}
#clock ul li:nth-child(5){
	right: 22%;
	top: 87%;
}
#clock ul li:nth-child(6){
	right: calc(50%-10px);
	top: 93%;
	font-size: 25px;
	font-weight: bold;
	color: black;
}
#clock ul li:nth-child(7){
	left:22%;
	top: 87%;
}
#clock ul li:nth-child(8){
	left: 6%;
	top: 70%;
}
#clock ul li:nth-child(9){
	left:1%;
	top: calc(50%-10px);
	color: black;
	font-size: 25px;
	font-weight: bold;
}
#clock ul li:nth-child(10){
	left: 6%;
	top: 25%;
}
#clock ul li:nth-child(11){
	left: 22%;
	top: 6.5%;
}
#clock ul li:nth-child(12){
	right: calc(50% - 10px);
    top:1%;
	font-size: 25px;
	font-weight: bold;
	color: black;
}